<footer class="container-fluid" style="margin-top:25px;padding:40px 0;background-color:#dd1c50;color:white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <h5>Stay Connected</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae consequat nunc.</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Sign Up</button>
                </div>
            </div>
            <div style="color:white;margin:0 0;font-size:2.0em">
                <fa name="facebook-square" class="social-icon"></fa>
                <fa name="twitter-square" class="social-icon"></fa>
                <fa name="instagram" class="social-icon"></fa>
            </div>
            </div>
            <div class="col-md-3">
                <h5>Your Hair, Our Care</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet ullamcorper sem at pharetra. Donec eget pharetra tellus, sit amet tincidunt dui.
                    <br/><a href="">More about our services</a>
                </p>
            </div>
            <div class="col-md-5">
                <h5>Navigation</h5>
                <ul class="nav-links">
                <li><a href="">Services</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contact</a></li>
                </ul>
                <p>Created by, Patryck Thomas</p>
            </div>
        </div>
    </div>
</footer>