<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- <div class="col-sm-2 text-center" style="padding-top:30px;position:absolute;top:0;background-color:#de2851;width:170px;height:114px"> -->
        <a routerLink="/" class="navbar-brand" style="background-color:#dc064f;float:left;padding:8px">Salon</a>
        <!-- </div> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            <li class="nav-cart">
                <fa name="shopping-cart" class="cart"></fa>
                <a routerLink="cart"><span class="cart-item-count">{{cartItemCount}}</span></a>
            </li>
        </ul>
        </div>
    </div>
</nav>