<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-md-10">
            <h3>Shopping Cart</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th></th>
                    <th></th>
                    <th>Price</th>
                    <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                    <td class="text-center">
                        <img src="{{item.imgUrl}}" alt="{{item.title}}" class="img-thumbnail">
                    </td>
                    <td>
                        {{item.title}}<br/>
                        <a routerLink="/cart" class="btn-delete">Delete</a>
                    </td>
                    <td><span class="price">${{item.price}}</span></td>
                    <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>